* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #120B1E; */
}



#nav-bar {
    border-bottom: #FF00FF;
    border-style: double;
    background-color: #120B1E;
}

#nav-bar img {
    max-width: 10%; 
    border-radius: 50%;   
}

#nav-bar a {
    color: #FF00FF;
    font-family: "Space Grotesk";
    font-size: 1rem;
}



#landing{
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #00FFFF !important;
    background: rgba(0, 0, 0, 0.5);
    background-image: url("./images/background1.png");  
    z-index: 1;
    position: relative;

}

#landing > .landing-page > h1,p,button{
    color: #00FFFF !important;
}

#landing::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(35, 23, 53, 0.5);
    z-index: -1;
}

#landing .image-profile{
    background-color: transparent;

}

#projects{
    border-top: #FF00FF;
    border-style: double;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #120B1E;
}

#projects h1{
    color:#FF00FF
}

#projects > h3, p {
    color: #FF00FF;
}

#projects .card{
    background-color: #120B1E;
    border-radius: 10%;

}

#projects .project-card{
    width: 18rem;
}

#tools{
    border-top: #FF00FF;
    border-style: double;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #120B1E;
}

#tools h1 , h3, .card-title{
    color:#FF00FF
}

#tools .table-tool{
     color:#FF00FF
}

#tools .card , .list-group{
    background-color: #120B1E;
    color:#FF00FF;
}

#tools .tool-card{
    width: 18rem;
}

#contact{
    border-top: #FF00FF;
    border-style: double;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;  
    color: #FF00FF;
    background-color: #120B1E;
}

#contact .card-title {
    color: #FF00FF;
}
#contact .card-body{
    background-color: #120B1E;
}

#contact .card-1{
    width: 0%;
    border-style: none;
}

#contact .map-frame {
    border: 0;
}

#contact .contact-card{
    width: 18rem;
}

footer{
    background-color: #120B1E;
}